:root {
  --color-primary: #1876f2;
  --color-secondary: #626262;
  --color-online: #41db51;

  --color-body: #efefef;
  --color-bg: #fff;
  --transition-primary: 500ms;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.dark-theme {
  --color-primary: #000;
  --color-body: #0a0a0a;
  --color-bg: #000;
}
body {
  font-family: "poppins", sans-serif;
  background-color: var(--color-body);
  transition: var(--transition-primary);
}

/* ______________________________________________________ Start NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary);
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}
nav .nav-left,
nav .nav-right {
  display: flex;
  align-items: center;
}
.nav-left .logo {
  /* width: 160px; */
  margin-right: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #fff;
}
.nav-left .logo::first-letter {
  color: var(--color-primary);
  background-color: #fff;
  border-radius: 50%;
}
.nav-left ul li {
  display: inline-flex;
}
.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
}
.nav-right .search-box {
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.nav-right .search-box img {
  width: 18px;
}
.nav-right .search-box input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}
.nav-right .nav-user-icon {
  margin-left: 30px;
}
.nav-right .online {
  position: relative;
}
.online::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
}
.nav-right .nav-user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
/* ______________________________________________________ End Navbar */
/* ______________________________Settignd Menu */
.setting-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  background: var(--color-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: calc(100% + 1px);
  right: 5%;
  max-height: 0;
  transition: all var(--transition-primary);
}
#dark-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: all var(--transition-primary);
}
#dark-btn span {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
}
#dark-btn.dark-btn-on {
  padding-left: 23px;
  background: #000;
}
.setting-menu-height {
  max-height: 450px;
}
.user-profile a {
  color: #1876f2;
}
.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.setting-menu-inner {
  padding: 20px;
}
.setting-menu-inner .user-profile {
  border-bottom: 1px solid #9a9a9a;
}
.setting-links {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.setting-links .settings-icon {
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
}
.setting-links a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  color: var(--color-secondary);
}
