:root {
  --color-primary: #1876f2;
  --color-secondary: #626262;
  --color-online: #41db51;
  --color-body: #efefef;
  --color-bg: #fff;
  --transition-primary: 500ms;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.dark-theme {
  --color-primary: #000;
  --color-body: #0a0a0a;
  --color-bg: #000;
}
body {
  font-family: "poppins", sans-serif;
  background-color: var(--color-body);
  transition: var(--transition-primary);
}

/* ______________________________________________________ Start NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary);
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}
nav .nav-left,
nav .nav-right {
  display: flex;
  align-items: center;
}
.nav-left .logo {
  /* width: 160px; */
  margin-right: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #fff;
}
.nav-left .logo::first-letter {
  color: var(--color-primary);
  background-color: #fff;
  border-radius: 50%;
}
.nav-left ul li {
  display: inline-flex;
}
.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
}
.nav-right .search-box {
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.nav-right .search-box img {
  width: 18px;
}
.nav-right .search-box input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}
.nav-right .nav-user-icon {
  margin-left: 30px;
}
.nav-right .online {
  position: relative;
}
.online::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
}
.nav-right .nav-user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
/* ______________________________________________________ End Navbar */
/* ______________________________Settignd Menu */
.setting-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  background: var(--color-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: calc(100% + 1px);
  right: 5%;
  max-height: 0;
  transition: all var(--transition-primary);
}
#dark-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: all var(--transition-primary);
}
#dark-btn span {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
}
#dark-btn.dark-btn-on {
  padding-left: 23px;
  background: #000;
}
.setting-menu-height {
  max-height: 450px;
}
.user-profile a {
  color: #1876f2;
}
.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.setting-menu-inner {
  padding: 20px;
}
.setting-menu-inner .user-profile {
  border-bottom: 1px solid #9a9a9a;
}
.setting-links {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.setting-links .settings-icon {
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
}
.setting-links a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  color: var(--color-secondary);
}

/* ______________________________________________________ Container */

.container {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}
/* ______________________________________________________ Start Left SideBar */

.container .left-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  height: calc(100vh - 54px);
  align-self: flex-start;
}
.imp-links {
  border-bottom: 1px solid #ccc;
}
.imp-links a,
.shortcut-links a {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #626262;
  width: fit-content;
}
.imp-links a img {
  width: 20px;
  margin-right: 15px;
}
.imp-links a:last-child {
  color: #1876f2;
}
.shortcut-links p {
  margin: 25px 0;
  color: #626262;
  font-weight: 500;
}
.shortcut-links a img {
  width: 20px;
  border-radius: 4px;
  margin-right: 15px;
}
/* ______________________________________________________ End Left SideBar */
/* ______________________________________________________ Start Right SideBar */

.container .right-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  background: var(--color-bg);
  align-self: flex-start;
  padding: 20px;
  border-radius: 4px;
  color: #626262;
}
.right-sidebar .sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.right-sidebar h4 {
  font-weight: 600;
  font-size: 16px;
}
.sidebar-title a {
  color: #1876f2;
  font-style: 12px;
}
.event {
  display: flex;
  font-style: 14px;
  margin-bottom: 20px;
}
.event .left-event {
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event .left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1876f2;
  color: #fff;
  font-style: 10px;
  padding: 4px 0;
}
.event .left-event .event p {
  font-style: 12px;
}
.event .right-event a {
  font-style: 12px;
  color: #1876f2;
}
.right-sidebar .sidebar-ads {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}
.right-sidebar .online-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.right-sidebar .online-list .online {
  position: relative;
  width: 40px;
  background-repeat: 50%;
  margin-right: 15px;
}
.right-sidebar .online-list .online::after {
  top: unset;
  bottom: 0;
}
.right-sidebar .online-list .online img {
  width: 40px;
  border-radius: 50%;
}
/* ______________________________________________________ End Right SideBar */

/* ______________________________________________________ Start Main Content */

.container .main-content {
  flex-basis: 47%;
}
/* ______________________________ Story Start */

.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.story-gallery .story {
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
}
.story-gallery .story img {
  position: absolute;
  width: 45px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: 5px solid var(--color-primary);
}
.story-gallery .story p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.story.story1 img {
  top: unset;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  border: 0;
  width: 35px;
  cursor: pointer;
}
.story1 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6)),
    url(../images/status-1.png);
}

.story2 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6)),
    url(../images/status-2.png);
}

.story3 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6)),
    url(../images/status-3.png);
}

.story4 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6)),
    url(../images/status-4.png);
}

.story5 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6)),
    url(../images/status-5.png);
}
/* ______________________________ Story End */